@use "sass:math";

$base: 1 !default;
$scroll-offset: 2em !default;

// config
@use "./../config/colors";
@use "./../config/fonts";
@use "./../config/queries";

// layouts
@use "Shared/scss/templates/base/layouts/document";

// abstracts
@use "Shared/scss/templates/base/abstracts/background";
@use "./../abstracts/graphics";

@mixin base {
    @include document.base;

    h1 {
        font-size: clamp(fonts.cascade-em(36), 5vw, fonts.cascade-em(48));
    }

    h2,
    legend {
        font-size: clamp(fonts.cascade-em(30), 5vw, fonts.cascade-em(40));
    }

    h3 {
        font-size: fonts.rem(25);
    }

    ol {
        list-style: decimal;
    }

    input {
        line-height: inherit;
    }

    fieldset {
        border: 0;
        margin: 0;
        padding: 0;
    }

    sup {
        bottom: 0.75em;
    }

    a {
        display: inline-block;
    }
}

@mixin root {
    @include colors.scope;
    @include fonts.scope;

    scroll-padding-top: calc(
        var(--scrollable-content-height, #{queries.em(80)}) + #{$scroll-offset}
    );
    scroll-behavior: smooth;

    font-size: #{$base}rem;

    @media all and (max-width: queries.get(document-mobile-portrait)) {
        font-size: clamp(#{math.div($base, 2)}rem, 3.5vw, #{$base}rem);
    }
}

@mixin body {
    @include fonts.base-rem(16);

    line-height: 1.5;
    font-family: var(--main-body-font);
    color: var(--main-text-color);

    @include background.color-map(
        $background-color: var(--main-background-color),
        $text-color: var(--main-text-color)
    );
}
